@charset "UTF-8";
@import url("personal.css");

/* Specific styles for the About page */
.bio {
  margin: 0px auto;
  width: 70%;
  max-width: 900px;
  background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent background */
  padding: 30px;
  border-radius: 10px;
  color: #FFFFFF;
}

#headshot {
  text-align: center;
  margin-bottom: 30px;
}

#headshot img {
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /* Add a box shadow to the image */
  max-width: 100%; /* Make the image responsive */
  height: auto;
}

h2 {
  text-align: center;
  font-size: 36px;
  color: #ffffff;
}

p {
  text-align: justify;
  font-size: 18px;
  line-height: 1.8;
  margin: 20px 0;
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
  .bio {
    width: 90%;
  }
  
  #headshot img {
    width: 100%;
    height: auto;
  }
}
