@charset "UTF-8";

.nav-bar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
	justify-content: flex-end;
}

.nav-bar li {
  margin-right: 20px;
}

.nav-bar a {
  text-decoration: none;
  color: #FFFFFF;
  font-weight: bold;
}

.nav-bar a:hover {
  color: #c0392b;
}

.form-group {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
}

.form-group label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
  box-sizing: border-box;
  box-shadow: none; /* Remove box-shadow */
}

.form-group textarea {
  height: 120px;
}

.form-group input[type="submit"] {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}
.form-group h2 {
  text-align: center; /* Add text-align property */
  margin-bottom: 20px;
}

.footer-img {
   position: absolute;
   bottom: 0;
   right: 0;
}

.bio {
	margin-left: 60px;
	width: 50%;
	
}

#headshot {
	margin-left:600px;
	margin-top: 20px;
}


body {
  background-image: url('Images/Background.jpg'); /* Adjust the path as necessary */
  background-size: cover; /* Ensures the image covers the whole background */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-attachment: fixed; /* Keeps the background fixed when scrolling */
}

h1 {
  font-size: 50px;
  color: #FFFFFF;
  text-align: center;
}

#typewriter {
  color: #75c512;
  font-weight: bold;
}

#cursor {
  color: #FFFFFF;
  animation: blink 1s linear infinite;
}

@keyframes blink {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 0%;
  }
}