@charset "UTF-8";
@import url("personal.css");


.resume-section {
  width: 70%;
  margin: 40px auto;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.8); /* Slight background color */
  color: #FFFFFF;
  border-radius: 8px;
  line-height: 1.6;
}

.resume-section h2 {
  color: #bfbfbf;
  margin-bottom: 20px;
  text-align: left;
  font-size: 28px;
}

.resume-section h3 {
  font-size: 22px;
  color: #FFFFFF;
  margin-bottom: 10px;
}

.resume-section p, .resume-section ul {
  margin: 10px 0;
  text-align: justify;
  font-size: 18px;
}

.resume-section ul {
  list-style-type: disc;
  margin-left: 40px;
}

.resume-section li {
  margin-bottom: 10px;
}

.resume-section .bold {
  font-weight: bold;
}

@media (max-width: 768px) {
  .resume-section {
    width: 90%;
  }
}